@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500;600;700&display=swap');

@font-face {
    font-family: RobotoMono;
    src: url(assets/fonts/RobotoMono-VariableFont_wght.woff2);
  }

:root{
    --main-color : #213555;
    --second-color : #E5D283;
    --body-color : #F0F0F0;
    --navbar-color : #4F709C;
    --fontbanner-color : #E5D283;
    --diskon-color : rgb(224, 224, 12);

    --main-font: 'Open Sans', sans-serif;
    --heading-font : 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
    font-family: var(--main-font);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section{
    margin-top: 200px;
}

.container{
    max-width: 93.75rem;
}

.navbar{
    position: fixed;
    margin-top: -150px;
    width: 100%;
    background-image: linear-gradient(180deg, var(--navbar-color), rgba(255,0,0,0));
    z-index: 10;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.navbar .nav-wrapper{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

}
.nav-wrapper .menu-toggle{
    display: none;
}
.nav-wrapper .logo{
    font-size: 2.8rem;
    font-family: var(--heading-font);
    font-weight: 650;
    margin-left: -22vw;
    color: var(--second-color);
    text-shadow: 2px 2px 10px var(--main-color);
}
.nav-wrapper .logo span{
    font-size: 1.8rem;
    color: var(--body-color);
    font-weight: 600;
    text-shadow: 2px 2px 10px var(--main-color);
}
.nav-wrapper .menu-wrapper{
    display: flex;
    gap: 50px;
}
.nav-wrapper .menu-wrapper .menu{
    display: flex;
    align-items: center;
    gap: 70px;
}
.menu-wrapper .menu .menu-link{
    font-size: 1.25rem;
    color: var(--main-color);
    font-family: var(--heading-font);
    font-weight: 500;
}
.menu-wrapper .menu .menu-link.active{
    font-weight: 700;
    color: var(--main-color);
}
.menu-wrapper .btn-member{
    font-family: var(--heading-font);
    color: #fff;
    font-weight: 600;
    background-color: var(--second-color);
    padding: 25px 30px;
    border-radius: 50px;
}

/* Home Start */
.home{
    margin-top: 150px;

}
.home .home-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 50px;
    position: relative;
    background: var(--body-color);
   
}

.responsive{
    background-size:contain;
    position: absolute;
    filter: grayscale(70%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    height: 150%;
    transform: translate(120%, 0%);
}
.responsive2{
    background-size:contain;
    position: absolute;
    filter: grayscale(70%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    height: 150%;
    transform: translate(185%, 0%);
}

.responsive3{
    background-size:contain;
    position: absolute;
    filter: grayscale(70%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 80%;
    transform: translate(18%, 175%);
   
}

.home-wrapper .heading{
    font-size: 3.4rem;
    font-family: var(--heading-font);
    font-weight: 700;
    transform: translate(-0%, -0%);
    color: var(--main-color);
    text-shadow: 2px 2px 5px var(--second-color);
}
.home-wrapper .heading span{
    font-size: 2.9rem;
    color: var(--navbar-color);
}
.home-wrapper .subheading{
    font-size: 1.125rem;
    color: var(--main-color);
    max-width: 500px;
    margin: 25px 0;
}
.home-wrapper .box-wrapper{
    display: flex;
    gap: 80px;
}
.home-wrapper .box-wrapper .box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-wrapper .box i{
    font-size: 2rem;
    color: var(--main-color);
}
.box-wrapper .box p{
    font-size: 1.125rem;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--main-color);
}

.content-left .form-panel{
    position: relative;
    width: 640px;
    height: 110px;
    background-color: var(--main-color);
    border-radius: 70px;
    margin-top: 50px;
    border: 3px solid #fff;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-left .sugestion{
    font-size: 15px;
    margin-top: 20px;
    color: rgba(31, 31, 31, 0.479);
}

.home-wrapper .content-right2{
    display: none;
    justify-content: center;
    flex: 0 0 100%;
}

.content-right .img-wrapper{
    max-width: 800px;
}
.content-right .img-wrapper img{
    width: 100%;
}

.home-wrapper .content-left{
    flex: 0 0 50%;
}
.home-wrapper .content-right{
    flex: 0 0 50%;
}

/* HOme End */

/* service start */
.service .service-wrapper{
    margin: auto;
}
.service-wrapper .row1{
    text-align: center;
    color: var(--navbar-color);
}
.service-wrapper .label-service{
    font-size: 20px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--navbar-color);
}
.service-wrapper .heading-service{
    font-size: 40px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--main-color);
    margin: 10px 0;
}
.service-wrapper .subheading-service{
    font-size: 20px;
   
}
.service-wrapper .row2{
    margin-top: 50px;
    background-color: var(--main-color);
    color: var(--body-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
}
.row2 .box-service{
    position: relative;
    max-width: 300px;
    text-align: center;
    padding: 30px;
}
.box-service i{
    font-size: 2.5rem;
}
.box-service h3{
    font-size: 20px;
    margin-top: 10px;
}
.box-service .btn-learn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: .4s ease-in-out;
}
.box-service:hover .btn-learn{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    transition: .4s ease-in-out;
}
.btn-learn a{
    color: #fff;
}

/* service end */

/* produk start */
.produk .produk-wrapper{
    margin: auto;
}
.produk-wrapper .row1{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--second-color);
}
.row1 .label-produk{
    font-size: 20px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--navbar-color);
}
.row1 .heading-produk{
    font-size: 40px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--main-color);
    margin-top: 10px;
}
.row1 .toggle-slider i{
    font-size: 2.5rem;
    color: var(--main-color);
    cursor: pointer;
}
.produk-wrapper .row2{
    margin-top: 100px;
    margin-bottom: 50px;
}
.produk-wrapper .card-produk{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    overflow-y: hidden;
}

.produk .produk-wrapper .mySwiper .swiper-wrapper .card-produk img{
    width: 100%;
}

.row2 .detail-produk{
    background-color: rgba(255, 255, 255, 0.637);
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.171);
    transition: .5s ease-in-out;
}
.card-produk:hover .detail-produk{
    bottom: 0;
    transition: .5s ease-in-out;
}
.detail-produk .kategori{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kategori .label-kategori{
    padding: 5px 20px;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 5px;
}
.kategori .price{
    background-color: var(--main-color);
    color: var(--second-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-produk .title-card h1{
    font-size: 30px;
    font-size: 600;
    font-family: var(--heading-font);
    color: #4a4a4a;
}
.detail-produk .review{
    display: flex;
    gap: 10px;
}
.review i{
    color: var(--diskon-color);
}

.detail-produk .body-card{
    margin: 25px 0;
}
.detail-produk .btn-produk{
    background-color: var(--second-color);
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    border-radius: 50px;
}
.btn-produk a{
    color: var(--main-color);
}
/* produk end */

/* Banner 1 start*/
.banner1{
    color: var(--body-color);
    margin: 200px auto;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 80px;
    border-radius: 10px;
}
.banner1 .heading{
    font-family: var(--heading-font);
    font-size: 40px;

}
.banner1 .content{
    text-align: center;
}

.banner1 h3{
    font-size: 20px;
    color: var(--main-color);
    padding: 15px 30px;
    background-color: var(--diskon-color);
    box-shadow: 0px 1px 5px var(--diskon-color);
    border-radius: 15px;
    margin: 20px 0;
    animation-name: special;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:cubic-bezier(0.35, 0.62, 0.65, 0.3);
}

@keyframes special {

    0%   {box-shadow: 0px 1px 20px var(--diskon-color);}
    50%  {box-shadow: 0px 1px 50px var(--diskon-color);}
    100% {box-shadow: 0px 1px 20px var(--diskon-color);}
  
  }

.banner1 p{
    font-size: 20px;
    font-family: var(--heading-font);
}
.banner1 .btn-book{
    background-color: var(--second-color);
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px var(--diskon-color);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.banner1 .btn-book:hover{
    box-shadow: 0px 1px 5px var(--diskon-color);
    background-color: var(--diskon-color);
    padding: 18px 37px;  
  }




.banner1 .btn-book a{
    color: var(--main-color);
    font-weight: 600;
}
.statistik-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.statistik-wrapper .content-img{
    width: 900vw;
}
.statistik-wrapper .content-statis{
    width: 700px;
}
.content-img img{
    width: 100%;
}
.content-statis .label-statis{
    font-size: 20px;
    font-family: var(--heading-font);
    color: var(--navbar-color);
}
.content-statis .heading-statis{
    font-family: var(--heading-font);
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    margin: 25px 0;
}
.content-statis .subheading-statis{
    font-size: 20px;
    width: 90%;
    color: var(--navbar-color);
}
.content-statis .angka-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 50px;
    align-items: stretch;
}
.angka-wrapper .box-angka{
    text-align: center;
    margin-right: 20px;
}
.box-angka h1{
    font-family: var(--heading-font);
    font-weight: 800;
    color: var(--main-color);
    font-size: 45px;
}

.box-angka p{
    color: var(--navbar-color);
}

/* banner 1 end */

/* TESTI START */
.testi-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testi-wrapper .col-heading, .col-slider-testi{
    width: 100%;
    padding-bottom: 5%;
}
.testi-wrapper .col-heading .label-testi{
    font-size: 25px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--main-color);
}
.testi-wrapper .col-heading .heading-testi{
    font-size: 36px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--navbar-color);
    margin: 25px 0;
}

.testi-wrapper .col-heading .heading-testi .logo{
    font-size: 2.8rem;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--main-color);
    background-color: var(--second-color);
}

.testi-wrapper .col-heading .subheading-testi{
    color: var(--main-color);
}

.testi-wrapper .col-heading .heading-testi .logo span{
    font-size: 1.8rem;
    color: var(--second-color);
}

.col-slider-testi .card-testi{
    background-color: var(--body-color);
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.103);
    padding: 30px;
    text-align: center;
}
.card-testi .text-testi{
    padding: 20px;
    position: relative;
    width: 70%;
    margin: auto;
    color: var(--navbar-color);
}


.testi .bxs-quote-left{
    position: absolute;
    top: 0;
    left: 0;
}
.testi .bxs-quote-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.card-testi .status{
    margin-top: 5px;
    color: var(--main-color);
}
/* TESTI END */

/* BANNER2 */
.banner2-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    padding: 5rem 10rem;
    border-radius: 15px;
    flex-wrap: wrap;
}
.content-banner2 .heading{
    font-size: 36px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--navbar-color);
}
.content-banner2 .subheading{
    font-size: 20px;
    font-family: var(--heading-font);
    margin-top: 10px;
}
.content-banner2 .disc{
    background-color: #c7772d;
    color: var(--body-color);
    font-family: var(--heading-font);
    text-shadow: 3px 1.5px 3px var(--navbar-color);
    box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.195);
    font-size: 30px;
    font-weight: 700;
    border-radius: 35px 10px;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    padding: 20px 40px;
}
.btn-banner2 .btn-regis{
    background-color: var(--main-color);
    color: var(--body-color);
    font-family: var(--heading-font);
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px var(--main-color);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.btn-banner2 .btn-regis:hover{
    box-shadow: 0px 1px 5px var(--main-color);
    background-color: var(--diskon-color);
    padding: 15px 35px;  
  }

/* Footer */
.footer{
    margin-top: 200px;
}
.footer-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1-footer .logo-footer{
    font-family: var(--heading-font);
    font-size: 50px;
    color: var(--main-color);
    font-weight: 700;
}
.logo-footer span{
    font-size: 25px;
    color: var(--second-color);
}
.col-1-footer .subheading-footer{
    font-size: 20px;
    margin-top: 20px;
    width: 400px;
}
.sosmed-icon i{
    font-size: 3rem;
    color: var(--main-color);
    margin: 20px 5px;
}
.col-1-footer .copy{
    margin-top: 35px;
    margin-bottom: 30px;
}
.col-1-footer address{
    margin-top: 35px;
    margin-bottom: 30px;
    width: 400px;
    color: var(--main-color);
}

.col-1-footer p{
    color: var(--navbar-color);
}

.col-2-footer h3, .col-3-footer h3, .col-4-footer h3, .col-5-footer h3{
    font-size: 30px;
    color: var(--main-color);
    font-family: var(--heading-font);
    font-weight: 700;
}
.col-2-footer ul, .col-3-footer ul, .col-4-footer ul{
    margin-top: 20px;
}
.col-2-footer ul li, .col-3-footer ul li, .col-4-footer ul li{
    margin-top: 10px;
}
.col-2-footer li a , .col-3-footer li a, .col-4-footer li a{
    font-size: 18px;
    color: var(--navbar-color);
}
.col-5-footer p{
    margin-top: 30px;
    font-size: 18px;
    color: var(--navbar-color);
}
.form-input{
    padding: 20px 30px;
    margin-top: 50px;
    background-color: var(--second-color);
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.295);
}
.form-input input{
    border: none;
    background-color: var(--second-color);
}

.form-input ::placeholder {
    color: var(--navbar-color);
}

.form-input input:focus{
    outline: none;
}
.form-input .btn-footer{
    background-color: var(--body-color);
    color: var(--navbar-color);
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.form-input .btn-footer:hover{
    box-shadow: 0px 1px 5px var(--main-color);
    background-color: var(--diskon-color);
    padding: 9px 24px;   
  }


/*  */

@media screen and (max-width: 1024px) {

    main{
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar .nav-wrapper{
        padding: 0 30px;
    }
    .nav-wrapper .menu-wrapper .menu{
        gap: 50px;
       
    }

    .nav-wrapper .logo{
        font-size: 2.8rem;
        font-family: var(--heading-font);
        font-weight: 650;
        margin-left: 0vw;
        color: var(--second-color);
        text-shadow: 2px 2px 10px var(--main-color);
    }

    .menu-wrapper .menu .menu-link{
        font-size: 1rem;
    }
    .menu-wrapper .btn-member{
        padding: 20px 25px;
    }
    .home-wrapper .heading{
        font-size: 2.5rem;
    }
    .responsive{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 35%;
        height: 100%;
        transform: translate(120%, 0%);
    }
    .responsive2{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 35%;
        height: 100%;
        transform: translate(185%, 0%);
    }

    .responsive3{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 30%;
        height: 70%;
        transform: translate(5%, 185%);
       
    }

    .statistik-wrapper{
        margin: auto;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: stretch;
    }

    .statistik-wrapper .content-img{
        margin: auto;
        width:80vw;
        transform: translate(0px, 50px);
    }

    .content-statis .angka-wrapper{
        margin: auto;
        display: flex;
        align-items: flex-end;
        width: 90%;
        margin-top: 50px;
        justify-content: center;
    }

    .banner2-wrapper{
        padding: 5rem 3rem;
    }

    .footer{
        padding: 10px 20px;
    }
    .footer .footer-wrapper{
        gap: 25px;
    }

    .col-2-footer, .col-3-footer {
        padding-top: 2.5%;
    }

}

@media screen and (max-width: 780px) {

    body{
        background-color: var(--body-color);
        font-family: var(--main-font);
    }
    
    section{
        margin-top: 200px;
    }
    
    .container{
        max-width: 93.75rem;
    }
    
    .navbar{
        position: fixed;
        margin-top: -150px;
        width: 100%;

    }

    .home-wrapper .heading{
        font-size: 3.4rem;
        font-family: var(--heading-font);
        font-weight: 700;
        transform: translate(-0%, 160%);
        color: var(--main-color);
        text-shadow: 5px 5px 7px var(--main-color);
    }

    .home-wrapper .content-left .subheading{
        font-family: var(--heading-font);
        font-style: italic;
        font-weight: 500;
        transform: translate(-0%, 530%);
        color: var(--main-color);
        text-shadow: 1px 1px 2px var(--main-color);
    }

    .home-wrapper .content-left .box-wrapper{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
        margin: 0 auto;
        max-width: 80%;
        transform: translate(-0%, 500%);
      }

    .responsive{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 30%;
        height: 90%;
        transform: translate(80%, 0%);
    }
    .responsive2{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 30%;
        height: 90%;
        transform: translate(155%, 0%);
    }

    .responsive3{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 25%;
        height: 80%;
        transform: translate(-5%, 197%);
       
    }
    

    /*--------------------------*/
    .nav-wrapper .menu-wrapper{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: block;
        text-align: center;
        padding-bottom: 3rem;
        border-radius: 5px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s ease-in-out;
        background-image: linear-gradient(180deg, rgba(255,0,0,0), var(--main-color));
    }
    .nav-wrapper .menu-wrapper.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: .5s ease-in-out;
    }
    .menu-toggle.bx-x{
        transform: rotate(180deg);
        transition: .5s;
    }
    .nav-wrapper .menu-wrapper .menu{
       display: block;
    }
    .menu-wrapper .menu .menu-item{
       margin: 30px 0;
    }
    .menu .menu-item .menu-link{
        color: #06623B;
    }

    .menu .menu-item .menu-link:hover{
        box-shadow: 0px 1px 5px var(--diskon-color);
        background-color: var(--diskon-color);
        padding: 8px 37px;  
      }


    .nav-wrapper .menu-toggle{
        display: flow-root;
        font-size: 2.5rem;
        color: var(--main-color);
        transition: .5s;
    }

    .home-wrapper .content-right{
        display: none;
    }


    .home-wrapper .content-left{
        text-align: center;
        flex: 0 0 100%;
    }
    .home-wrapper .subheading{
       margin: auto;
       color: #90AACB;
    }
    .home-wrapper .box-wrapper{
        margin-top: 20px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .content-left .form-panel{
        margin: auto;

    }
    .statistik-wrapper .content-img{
        margin: auto;
        width:90vw;
        transform: translate(20px, 10px);
    }
    .statistik-wrapper .content-statis{
        margin: 50px auto;
        text-align: center;
    }
    .content-statis .heading-statis{
        margin: auto;
    }
    .content-statis .subheading-statis{
        margin: 30px auto;
    }
    .content-statis .angka-wrapper{
        margin: auto;
        display: block;
        justify-content: center;
    }
    .testi-wrapper .col-heading{
        text-align: center;
        margin: auto;
    }
    .testi-wrapper .col-slider-testi{
        text-align: center;
        margin: 40px auto;
    }
    .banner2-wrapper{
        padding: 4rem 10rem;
    }
    .btn-banner2{
        margin-top: 100px;
    }
    .btn-banner2 .btn-regis{
        background-color: var(--navbar-color);
        color: var(--body-color);
        font-family: RobotoMono;
        font-size: 24px;
        padding: 20px 40px;
        border-radius: 50px;
    }
    .footer{
        padding: 10px 20px;
    }
    .footer .footer-wrapper{
        justify-content: start;
        gap: 10px;
    }
    .footer-wrapper .col-4-footer .col-5-footer{
        margin-top: 20px;
    }

    .col-2-footer, .col-3-footer {
        padding-top: 0%;
    }
}

@media screen and (max-width: 450px) {
    
    .banner1 .btn-book{
        margin: 30px auto;
    }
    

    .navbar .nav-wrapper{
        padding: 5px 10px ;
    }

    .theme-switch-wrapper{
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding-left: 0%;
      }

    .nav-wrapper .menu-toggle{
        display: flow-root;
        font-size: 2.5rem;
        color: var(--main-color);
        transition: 0.5s;
        padding-right: 10px;
    }

    .home-wrapper .content-left .heading{
        margin-top: -76px;
      }

    .home-wrapper .content-left .subheading{
        margin-top: 235px;

      }

    .home-wrapper .content-left .box-wrapper{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
        margin: 0 auto;
        max-width: 80%;
        transform: translate(-0%, -100%);
        
      }

      .box-wrapper .box p{
        font-size: 0.9rem;
        font-family: var(--heading-font);
        font-weight: 700;
        color: var(--main-color);
    }
    
    .home-wrapper .heading{
        font-size: 2.4rem;
        font-family: var(--heading-font);
        font-weight: 700;
        transform: translate(-0%, 60%);
        color: var(--main-color);
        text-shadow: 4px 4px 6px var(--second-color);
    }

    .home-wrapper .content-left .subheading{
        font-size: medium;
        font-weight: 700;
        transform: translate(-0%, -280%);
        color: var(--main-color);
        text-shadow: 1px 1px 10px var(--navbar-color);
    }

    .responsive{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 55%;
        transform: translate(0%, 0%);
    }
    .responsive2{
        background-size:contain;
        position: absolute;
        filter: grayscale(70%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 55%;
        transform: translate(95%, 0%);
    }

    .responsive3{
        background-size:contain;
        position: absolute;
        filter: grayscale(0%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 50%;
        transform: translate(50%, 175%);
       
    }
    
    .statistik-wrapper {
        display: flex;
        flex-direction: row;
    }

    .statistik-wrapper .content-img{
        width: 900vw;
    }
    .statistik-wrapper .content-statis{
        width: 700px;
    }
    .content-img img{
        width: 100%;
    }
 
   .testi-wrapper .col-slider-testi{
       margin: 30px auto;
       width: 100%;
    }
   .banner2-wrapper{
        padding: 4rem 2rem;
    }
    .btn-banner2{
        margin-top: 50px;
    }
    .footer .footer-wrapper{
        justify-content: start;
        gap: 30px;
    }
}

@media screen and (max-width: 390px) {
    
    /* Footer */
    .footer{
        margin-top: 150px;
    }
    .footer-wrapper{
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .col-1-footer .logo-footer{
        font-family: var(--heading-font);
        font-size: 30px;
        color: var(--main-color);
        font-weight: 700;
    }
    .logo-footer span{
        font-size: 20px;
        color: var(--second-color);
    }
    .col-1-footer .subheading-footer{
        font-size: 13px;
        margin-top: 20px;
        width: 300px;
    }
    .sosmed-icon i{
        font-size: 2rem;
        color: var(--main-color);
        margin: 30px 5px;
    }
    .col-1-footer .copy{
        margin-top: 10px;
        font-size: 10px;
    }
    .col-2-footer h3, .col-3-footer h3, .col-4-footer h3, .col-5-footer h3{
        font-size: 20px;
        font-family: var(--heading-font);
        font-weight: 600;
    }
    .col-2-footer ul, .col-3-footer ul, .col-4-footer ul{
        margin-top: 15px;
    }
    .col-2-footer ul li, .col-3-footer ul li, .col-4-footer ul li{
        margin-top: 10px;
    }
    .col-2-footer li a , .col-3-footer li a, .col-4-footer li a{
        font-size: 10px;
        color: var(--navbar-color);
    }
    .col-5-footer p{
        margin-top: 30px;
        font-size: 13px;
    }
    .form-input{
        padding: 10px 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .form-input input{
        border: none;
        background-color: var(--second-color);
    }

}

  /*--DARK MODE SWITCHER--*/
  .theme-switch-wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .theme-switch-wrapper p{
    font-size:50%; 
    rotate: 270deg;
    margin-right: -10px;
  }

  .theme-switch {
    display: inline-block;
    height: 36px;
    position: relative;
    width: 36px;
  }
  .theme-switch input {
    display:none;
  }
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 28px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 28px;
    box-shadow: 0px 1.5px #888888;
  }
  input:checked + .slider {
    background-color: #66bb6a;
    box-shadow: 0px 1px 5px #5ce062;
    animation-name: darkmode;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:cubic-bezier(0.35, 0.62, 0.65, 0.3);
    }

    @keyframes darkmode {

        0%   {box-shadow: 0px 1px 20px #25e32f;}
        50%  {box-shadow: 0px 1px 50px #1be425;}
        100% {box-shadow: 0px 1px 20px #05ea11;}
    
    }


  input:checked + .slider:before {
    transform: translateZ(-21px);
    box-shadow: 0px -1.5px #888888;
    height: 27px;
    width: 27px;
    left: 5px;
    bottom: 4.2px;
  }
  .slider.round {
    border-radius: 50%;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /*------------------------------*/

    [data-theme="dark"]{
        --main-color : #F0F0F0;
        --second-color : #4F709C;
        --body-color : #213555;
        --navbar-color : #E5D283;
        --diskon-color : rgb(248, 47, 248);
        --heading-font : 'RobotoMono', sans-serif;
    }


/*--------------------------------*/
